
.form__item_wrap{padding:7px 0 7px;}
.form__title{text-align: center;font-size:24px;margin-bottom:11px;font-weight: bold;}
.restore_page__wrap{padding:97px 0;}
.label{margin-bottom:7px}
.form__desc{text-align: center;color:#808080;padding:5px 0 9px;}



.go_to__login_page_wrap{border-top:1px solid #DDD;margin:14px 0 11px}

.go_to__login_page_wrap2{text-align: center;margin-top:-11px}

.go_to__login_page_or{background-color:#FFF;padding:0 5px}
